# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/P1 - November 2010/Question 2 Java/Question 2/nbproject/private/
/P1 - November 2010/Question 2/build/
/P1 - November 2010/Question 3/nbproject/private/
/P1 - November 2010/Question 3/build/
/P1 - November 2012 [[] ]/Question 1 (DB)/build/
/P1 - November 2012 [[] ]/Question 1 (DB)/dist/
/P1 - November 2012 [[] ]/Question 1 (DB)/nbproject/private/
/P1 - November 2012 [[] ]/Question 3/Question 3/nbproject/private/
/P1 - November 2012 [[] ]/Question 3/Question 3/build/
/P1 - November 2012 [[] ]/Question 3/Question 3/dist/
/P1 - Feb-March 2011 [[] ]/Question 2/nbproject/private/
/P1 - November 2014 [[] ]/Questions/Question 1/nbproject/private/
/P1 - November 2013 - Redone [[] ]/Questions/Question3/nbproject/private/
/P1 - November 2013 - Redone [[] ]/Questions/Question3/build/
/P1 - Feb-March 2011 [[] ]/Questions/Question 2/nbproject/private/
/P1 - Feb-March 2011 [[] ]/Questions/Question 2/build/
/P1 - Feb-March 2011 [[] ]/Questions/Question 3/nbproject/private/
/P1 - Feb-March 2011 [[] ]/Questions/Question 3/build/
/P1 Feb-March 2014 Redone [[] ]/Questions/Question 2/TestQuestion2_GUI/nbproject/private/
/P1 - Feb-March 2013 Redone [[] ]/Questions/Question2_Netbeans/nbproject/private/
/P1 - Feb-March 2013 Redone [[] ]/Questions/Question2_Netbeans/dist/
/P1 - Feb-March 2013 Redone [[] ]/Questions/Question2_Netbeans/build/
/P1 - Feb-March 2013 Redone [[] ]/Questions/Question 3/Question 3/nbproject/private/
/P1 - Feb-March 2013 Redone [[] ]/Questions/Question 3/Question 3/build/
/P1 - 2014 Exemplar Redone [[] ]/Questions/Question1/dist/
/P1 - Western Cape September 2015 [[] ]/FATAAppEng/nbproject/private/
/P1 - Western Cape September 2015 [[] ]/FATAAppEng/build/